Label, TextField, PasswordField, Button { -fx-text-fill: white }

TextField, PasswordField, Button {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-padding: 0 5px;
}

TextField, PasswordField {
    -fx-border-width: 0 0 .5px;
    -fx-border-style: solid;
    -fx-border-color: white;
}

TextField:focused, PasswordField:focused {
    -fx-border-color: #99de3e
}

Button {
    -fx-padding: 10px;
    -fx-border-radius: 3px;
    -fx-background-color: #41870d
}

Button:hover { -fx-background-color: #48970d }
Button:active { -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) }
