GridPane#form { -fx-padding: 20px }

#form Text {
    -fx-font-family: arial;
    -fx-fill: #c9c9c9
}

Text#formTitle { -fx-font-size: 32px }
Text.sections { -fx-font-size: 22px }
Text.subsections, #gold, #pve { -fx-font-size: 18px }
#gold { -fx-text-fill: gold }
#pve { -fx-text-fill: rgb(255,0,102) }
Label, TextField, PasswordField, Button { -fx-text-fill: white }

TextField, PasswordField, Button {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-padding: 0 5px;
}

TextField, PasswordField {
    -fx-border-width: 0 0 .5px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-pref-height: 40px;
}

TextField:focused, PasswordField:focused {
    -fx-border-color: #99de3e
}

Button {
    -fx-padding: 10px;
    -fx-border-radius: 3px;
    -fx-background-color: #41870d
}

Button:hover { -fx-background-color: #48970d }
Button:active { -fx-effect: drop shadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0) }

TextField.left { -fx-alignment: CENTER-RIGHT }
TextField.right { -fx-pref-width: 350px }
TextField.spell, TextField.trigger { -fx-alignment: CENTER }
