#inventory Button {
    -fx-padding: 31px 0 0 47px;
    -fx-display: block;
    -fx-width: 47px;
    -fx-height: 47px;
    -fx-border-radius: 4px;
    -fx-background-color: transparent;
    -fx-background-image: url("./item-empty-bg.png");
}

#slotHead { -fx-background-position: 0px 0px }
#slotNeck { -fx-background-position: 0px -47px }
#slotShoulders { -fx-background-position: 0px -94px }
#slotBack { -fx-background-position: 0px -141px }
#slotChest { -fx-background-position: 0px -141px }
#slotShirt { -fx-background-position: 0px -235px }
#slotTabard { -fx-background-position: 0px -188px }
#slotWrist { -fx-background-position: 0px -282px }
#slotHands { -fx-background-position: 0px -329px }
#slotWaist { -fx-background-position: 0px -376px }
#slotLegs { -fx-background-position: 0px -423px }
#slotFeet { -fx-background-position: 0px -470px }
#slotFinger1 { -fx-background-position: 0px -517px }
#slotFinger2 { -fx-background-position: 0px -517px }
#slotTrinket1 { -fx-background-position: 0px -564px }
#slotTrinket2 { -fx-background-position: 0px -564px }
#slotMainHand { -fx-background-position: 0px -611px }
#slotOffHand { -fx-background-position: 0px -658px }
#slotRanged { -fx-background-position: 0px -705px }
#slotBag { -fx-background-position: 0px -799px }
