GridPane {
    -fx-font-family: arial;
    -fx-padding: 10px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #757575;
    -fx-border-radius: 3.5px;
    -fx-background-color: #080d22;
    -fx-max-width: 150px;
}

Text { -fx-fill: white; -fx-font-size: 16px }

Text.itemName { -fx-font-size: 18px }

Text.green { -fx-fill: green }
Text.gold { -fx-fill: gold }

Label.socket {
    -fx-padding: 4px 0 0 18px;
    -fx-display: block;
    -fx-width: 19px;
    -fx-height: 19px;
    -fx-background-image: url("./sockets.png");
}

Label#metaSocket { -fx-background-position: 0px 0px }
Label#redSocket { -fx-background-position: 0px -19px }
Label#yellowSocket { -fx-background-position: 0px -38px }
Label#blueSocket { -fx-background-position: 0px -57px }
