Label.role {
  -fx-position: relative;
  -fx-display: block;
  -fx-padding: 0 15px;
  -fx-border: none;
  -fx-text-fill: white;
  -fx-transition: 0.2s;
  -fx-pref-width: 200px;
  -fx-pref-height: 49px;
  -fx-background-image: url("./roles.png");
   -fx-background-repeat: no-repeat;
  -fx-background-color: linear-gradient(to right, rgb(52, 4, 6) 0%, rgba(52, 4, 6, 0.93) 7%, rgba(111, 15, 12, 0.30) 100%);
  -fx-alignment: CENTER-RIGHT;
  -fx-font-size: 20px;
}
Label.tank { -fx-background-position: 0px 0px }
Label.healer { -fx-background-position: 0px -50px }
Label.dps { -fx-background-position: 0px -100px }
