#root {
    -fx-background-color: #333333
}

#titleBar {
    -fx-border-width: 0 0 .5px;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-padding: 5px;
}

#titleBar:hover { -fx-border-color: #99de3e }

#title { -fx-font-size: 14px; -fx-fill: #c9c9c9 }
